<!DOCTYPE html>
<html>
<head>
    <title>My Letter 💕</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="letter">
    <h2>Dear wifey ❤️</h2>

    <p>Happy Valentine’s Day, babu 💘</p>

    <p>
        I am the luckiest man to have you in my life, babyy. And you know, not just as my Valentine
        but as mine—my partner in just everything. Har ek din teaches me ki real comfort, care, love
        kya hota hai. Humari harqatein, ye sab meri favourite cheezein hain.
    </p>

    <p>
        You are really special to me, bubu. I can’t imagine even a single second without you.
        I know main din mein bohot baar “I love you” bolta hoon, par I won’t ever get tired of saying it,
        even a thousand times a day. Because you are my cute little princess and the most beautiful girl
        I know. Aur main hamesha proud hoon of you—and proud to call you mine 💕
    </p>

    <p class="sign">
        — your hubby aka Mr. Kavyansh Rashika Arora ❤️
    </p>
</div>

</body>
</html>
