body {
    background: #ffe6f0;
    font-family: 'Segoe UI', sans-serif;
    text-align: center;
}

.container {
    margin-top: 15%;
}

h1, h2 {
    color: #ff4d88;
}

button {
    padding: 15px 30px;
    font-size: 18px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

#yesBtn {
    background-color: #ff4d88;
    color: white;
}

#noBtn {
    background-color: #999;
    color: white;
    position: absolute;
}

.letter {
    width: 80%;
    margin: auto;
    margin-top: 50px;
    background: white;
    padding: 30px;
    border-radius: 15px;
    text-align: left;
}

.sign {
    margin-top: 30px;
    font-weight: bold;
}
.teddy {
  width: 120px;
  animation: bounce 2s infinite;
  margin-bottom: 15px;
}

@keyframes bounce {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
}
