* {
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.glass {
    background: rgba(255,255,255,0.25);
    backdrop-filter: blur(10px);
    padding: 30px;
    border-radius: 20px;
    text-align: center;
}

.valentine-bg {
    background: linear-gradient(135deg, pink, red);
}

.choco-bg {
    background: linear-gradient(135deg, #5a2d0c, #ffb347);
}

.letter-bg {
    background: #fdf0f5;
}

button {
    padding: 12px 22px;
    border-radius: 20px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    margin: 10px;
}

.hidden {
    display: none;
}

.envelope {
    width: 300px;
    height: 200px;
    background: #ffccd5;
    position: relative;
    cursor: pointer;
}

.flap {
    width: 100%;
    height: 50%;
    background: #ff8fab;
}

.paper {
    padding: 20px;
}

.teddy {
    font-size: 50px;
    margin-top: 20px;
}
