<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Valentine 💖</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<img src="/static/images/teddy.png" class="teddy">
<div class="container">
    <h1>Hey baby 💕</h1>
    <p>Will you be my Valentine? 🌹</p>

    <div class="buttons">
  <button class="yes-btn" onclick="celebrateYes()">YES 💖</button>
  <button class="no-btn" onmouseover="moveNo()">NO 🙈</button>
</div>

<script src="/static/script.js"></script>
</body>
</html>
