<!DOCTYPE html>
<html>
<head>
    <title>Yay 😘</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">
    <h1>Good choice babu 😘</h1>
    <p>You made the best decision 😌💘</p>
    <a href="/letter">
        <button id="yesBtn">Next 💌</button>
    </a>
</div>

</body>
    <!-- Photo Slider -->
<div class="photo-slider">
  <img src="/static/photos/photo1.jpg" class="slide active">
  <img src="/static/photos/photo2.jpg" class="slide">
</div>

<!-- Slider Script -->
<script>
  const slides = document.querySelectorAll(".photo-slider .slide");
  let currentIndex = 0;

  setInterval(() => {
    slides[currentIndex].classList.remove("active");
    currentIndex = (currentIndex + 1) % slides.length;
    slides[currentIndex].classList.add("active");
  }, 3000);
</script>
</html>
