<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chocolate Day 🍫</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body class="choco-bg">

<div class="center-heart">❤️</div>

<div id="choiceBox" class="glass choice-box">
    <button class="primary-btn" onclick="showSurprise()">Show me 👀💗</button>
    <button class="secondary-btn" onclick="goLetter()">Only for you wifey 👑</button>
</div>

<div id="messageBox" class="glass hidden">
    <p id="typingText"></p>
    <button class="back-btn" onclick="goBack()">⬅ Take me back</button>
</div>

<script src="/static/script.js"></script>
</body>
</html>
